In [1]:
import pandas as pd

In [5]:
combined_df = pd.read_csv('combined_data.csv')

combined_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665.0,Macbook Pro Laptop,1.0,1700.00,12/30/2019 0:01,"136 Church St, New York City, NY 10001"
1,295666.0,LG Washing Machine,1.0,600.00,12/29/2019 7:03,"562 2nd St, New York City, NY 10001"
2,295667.0,USB-C Charging Cable,1.0,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001"
3,295668.0,27in FHD Monitor,1.0,149.99,12/22/2019 15:13,"410 6th St, San Francisco, CA 94016"
4,295669.0,USB-C Charging Cable,1.0,11.95,12/18/2019 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186490,222905.0,AAA Batteries (4-pack),1.0,2.99,6/7/2019 19:02,"795 Pine St, Boston, MA 02215"
186491,222906.0,27in FHD Monitor,1.0,149.99,6/1/2019 19:29,"495 North St, New York City, NY 10001"
186492,222907.0,USB-C Charging Cable,1.0,11.95,6/22/2019 18:57,"319 Ridge St, San Francisco, CA 94016"
186493,222908.0,USB-C Charging Cable,1.0,11.95,6/26/2019 18:35,"916 Main St, San Francisco, CA 94016"
186494,222909.0,AAA Batteries (4-pack),1.0,2.99,6/25/2019 14:33,"209 11th St, Atlanta, GA 30301"

In [6]:
no_empty_row_combined_df = combined_df.dropna(how='all')

no_empty_row_combined_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665.0,Macbook Pro Laptop,1.0,1700.00,12/30/2019 0:01,"136 Church St, New York City, NY 10001"
1,295666.0,LG Washing Machine,1.0,600.00,12/29/2019 7:03,"562 2nd St, New York City, NY 10001"
2,295667.0,USB-C Charging Cable,1.0,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001"
3,295668.0,27in FHD Monitor,1.0,149.99,12/22/2019 15:13,"410 6th St, San Francisco, CA 94016"
4,295669.0,USB-C Charging Cable,1.0,11.95,12/18/2019 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186490,222905.0,AAA Batteries (4-pack),1.0,2.99,6/7/2019 19:02,"795 Pine St, Boston, MA 02215"
186491,222906.0,27in FHD Monitor,1.0,149.99,6/1/2019 19:29,"495 North St, New York City, NY 10001"
186492,222907.0,USB-C Charging Cable,1.0,11.95,6/22/2019 18:57,"319 Ridge St, San Francisco, CA 94016"
186493,222908.0,USB-C Charging Cable,1.0,11.95,6/26/2019 18:35,"916 Main St, San Francisco, CA 94016"
186494,222909.0,AAA Batteries (4-pack),1.0,2.99,6/25/2019 14:33,"209 11th St, Atlanta, GA 30301"

In [8]:
no_empty_row_combined_df.to_csv('clean_combined_data.csv', index = False)